In [1]:
import pandas as pd
import numpy as np

In [2]:
values = [[1,2,3],
         [4,5,6],
         [7,8,9]]
columns = ['A', 'B', 'C']

df = pd.DataFrame(data=values, columns=columns)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
record = pd.Series(data=[1,1,1]) # , index=columns, name=10)

df.append(record, ignore_index=True)

     A    B    C    0    1    2
0  1.0  2.0  3.0  NaN  NaN  NaN
1  4.0  5.0  6.0  NaN  NaN  NaN
2  7.0  8.0  9.0  NaN  NaN  NaN
3  NaN  NaN  NaN  1.0  1.0  1.0

In [4]:
df1 = pd.DataFrame(data=[[1,2,3]], columns=columns)
df.append(df1)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
0  1  2  3

In [5]:
df.append(df1, ignore_index=True)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3

In [6]:
df2 = pd.DataFrame(data=[[1,2,10], 
                        [2,8,12]], columns=columns)

In [7]:
df_merged = pd.merge(left=df, right=df2, left_on='B', right_on='B', how='inner', validate='one_to_one')

In [8]:
df_merged

   A_x  B  C_x  A_y  C_y
0    1  2    3    1   10
1    7  8    9    2   12

In [42]:
df_ingatlan = pd.read_csv('data/DataSet_LakasP.csv')

In [10]:
df_ingatlan.head(3)

,county,city,postcode,property_type,property_subtype,property_condition_type,property_floor,building_floor_count,view_type,orientation,...,elevator_type,room_cnt,small_room_cnt,created_at,property_area,balcony_area,price_created_at,ad_view_cnt,active_days,nr
0,Budapest,Budapest XII.,NaN,flat,brick flat (for sale),good,1,NaN,street view,NaN,...,yes,2.0,1.0,2015-02-09,65.0,0.0,23.5,605.0,119.0,4
1,Budapest,Budapest I.,1016.0,flat,brick flat (for sale),novel,2,NaN,street view,NaN,...,yes,1.0,1.0,2015-02-09,45.0,0.0,20.0,49.0,25.0,12
2,Budapest,Budapest XVI.,1164.0,flat,brick flat (for sale),novel,1,NaN,garden view,NaN,...,yes,2.0,1.0,2015-02-09,60.0,0.0,22.0,77.0,77.0,14

In [38]:
%%time
property_subtypes = df_ingatlan.property_subtype.unique()
for i in range(df_ingatlan.property_subtype.size):
    df_ingatlan.property_subtype[i] = property_subtypes.tolist().index(df_ingatlan.property_subtype[i])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyboardInterrupt:

In [ ]:
df_ingatlan = pd.read_csv('data/DataSet_LakasP.csv')
property_subtypes = df_ingatlan.property_subtype.unique()

In [43]:
%%time
for i, r in df_ingatlan.iterrows():
    r.property_subtype = property_subtypes.tolist().index(r.property_subtype)

Wall time: 8.42 s

In [46]:
df_ingatlan = pd.read_csv('data/DataSet_LakasP.csv')
property_subtypes = df_ingatlan.property_subtype.unique()

In [51]:
%%timeit
pl = property_subtypes.tolist()
encode = lambda x: pl.index(x)
df_ingatlan['encoded_type'] = df_ingatlan.property_subtype.apply(encode)

29.7 ms ± 1.43 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [69]:
df_ingatlan = pd.read_csv('data/DataSet_LakasP.csv')

In [59]:
df_most_prop_type = df_ingatlan[['city', 'property_subtype']].groupby(by='city').agg(lambda x:x.value_counts().index[0])

In [77]:
df_most_prop_type_property_subtype = df_most_prop_type.property_subtype
fill_most_prop_type = lambda x: df_most_prop_type_property_subtype[x] if pd.isnull(x) else x
df_ingatlan['fill_most_prop_type'] = df_ingatlan.city.apply(fill_most_prop_type)

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [nan] of <class 'float'>

In [68]:
df_most_prop_type_property_subtype['Budapest I.']

'brick flat (for sale)'

In [74]:
pd.isnull(df_ingatlan.property_subtype)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
78512    False
78513    False
78514    False
78515    False
78516    False
78517    False
78518    False
78519    False
78520    False
78521    False
78522    False
78523    False
78524    False
78525    False
78526    False
78527    False
78528    False
78529    False
78530    False
78531    False
78532     True
78533    False
78534    False
78535    False
78536    False
78537    False
78538    False
78539    False
78540    False
78541    False
Name: property_subtype, Length: 78542, dtype: bool