In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import *
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, accuracy_score
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

from load_data import *

In [2]:
from sklearn.linear_model import LogisticRegression

def train_model(imputer, imp_columns):
    model = LogisticRegression()
    x_train, y_train, x_pred = get_data(imputer=imputer, imp_columns=imp_columns)
    cv_results = cross_validate(model,
                                x_train, y_train,
                                scoring=['roc_auc'], cv=5, n_jobs=4)
    auc = cv_results['test_roc_auc'].mean()
    print(f"{type(model)}: {auc}")
    return auc

In [3]:
from sklearn.impute import *

In [14]:
%%time
imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp_columns = [['regio_of_customer', ], ['customer_age', ]]
imputer_res = [train_model(imp, imp_column) for imp_column in imp_columns]

C:\Users\gango\Projects\ADA\load_data.py:29: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  alldf = pd.concat([train_df,test_df])

Training set size: (24584, 57)
<class 'sklearn.linear_model._logistic.LogisticRegression'>: 0.8679772955506401

C:\Users\gango\Projects\ADA\load_data.py:29: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  alldf = pd.concat([train_df,test_df])

Training set size: (24584, 57)
<class 'sklearn.linear_model._logistic.LogisticRegression'>: 0.8674971237385476
Wall time: 18.8 s

In [5]:
# names = list(all_res.keys())
# aucs = list(all_res.values())

# pd.DataFrame({'name':names, 'auc': aucs}).to_csv('overview_auc.csv', index=False)

In [16]:
df = get_df()

In [19]:
df['TARGET_successful_purchase'].value_counts()

1.0    147579
0.0     61629
Name: TARGET_successful_purchase, dtype: int64

In [20]:
len(df['TARGET_successful_purchase'])

418970

In [33]:
df[~df['TARGET_successful_purchase'].isnull()]

,TARGET_successful_purchase,basket_element_number,click_num,customer_age,customer_value,duration_of_session,last_order_of_customer,level_of_purchasing_process,lifetime_customer_account,max_val,...,num_of_previous_payments,price_of_cheapest_product_in_basket,price_of_more_expensive_product_in_basket,regio_of_customer,session_id,start_date_of_session,start_time_of_session,sum_price_of_products_in_basket,sum_price_of_visited_products,test_or_train_flag
1222,1.0,1,24,NaN,NaN,1183.504,NaN,NaN,NaN,NaN,...,NaN,39.99,39.99,NaN,exxxxxshop.si-0.008851309290403876,1549584000000000000,1577773620000000000,39.99,1124.39,0
1223,1.0,2,29,NaN,NaN,1419.418,NaN,NaN,NaN,NaN,...,NaN,19.99,39.99,NaN,exxxxxshop.si-0.008851309290403876,1549584000000000000,1577773620000000000,59.98,1234.34,0
1224,1.0,3,31,NaN,NaN,1646.355,NaN,NaN,NaN,NaN,...,NaN,19.99,39.99,NaN,exxxxxshop.si-0.008851309290403876,1549584000000000000,1577773620000000000,89.97,1294.32,0
1225,1.0,4,38,NaN,NaN,2269.815,NaN,NaN,NaN,NaN,...,NaN,13.99,39.99,NaN,exxxxxshop.si-0.008851309290403876,1549584000000000000,1577773620000000000,103.96,1422.26,0
1226,1.0,5,50,NaN,NaN,2676.008,NaN,NaN,NaN,NaN,...,NaN,13.99,39.99,NaN,exxxxxshop.si-0.008851309290403876,1549584000000000000,1577773620000000000,121.91,1641.96,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418965,0.0,3,14,40.0,70.0,194.881,724.0,1.0,33.0,600.0,...,0.0,9.99,12.99,2.0,exxxxxshop.si6.0288706691585265e-05,1549584000000000000,1577782500000000000,35.97,107.91,0
418966,0.0,3,14,40.0,70.0,224.189,724.0,1.0,33.0,600.0,...,0.0,9.99,12.99,2.0,exxxxxshop.si6.0288706691585265e-05,1549584000000000000,1577782500000000000,35.97,107.91,0
418967,0.0,3,14,40.0,70.0,239.493,724.0,1.0,33.0,600.0,...,0.0,9.99,12.99,2.0,exxxxxshop.si6.0288706691585265e-05,1549584000000000000,1577782500000000000,35.97,107.91,0
418968,0.0,3,14,40.0,70.0,249.584,724.0,1.0,33.0,600.0,...,0.0,9.99,12.99,2.0,exxxxxshop.si6.0288706691585265e-05,1549584000000000000,1577782500000000000,35.97,107.91,0
418969,0.0,3,14,40.0,70.0,291.799,724.0,1.0,33.0,600.0,...,0.0,9.99,12.99,2.0,exxxxxshop.si6.0288706691585265e-05,1549584000000000000,1577782500000000000,35.97,107.91,0