In [1]:
import pandas as pd

In [7]:
values = [[1,2,3],
         [4,5,6],
         [7,8,9]]

columns = ['A', 'B', 'C']

df = pd.DataFrame(data=values, columns=columns)

In [16]:
df['D'] = ['alma',2,3]

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.columns = ['X', 'Y', 'Z', 'KACSA']

In [23]:
df.rename(columns={'X': 'A'}, inplace=True)

In [24]:
df

   A  Y  Z KACSA
0  1  2  3  alma
1  4  5  6     2
2  7  8  9     3

In [25]:
df.dtypes

A         int64
Y         int64
Z         int64
KACSA    object
dtype: object

In [26]:
df.describe()

         A    Y    Z
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [27]:
df['D'] = ['1', '2', '3']

In [28]:
df['D'] = pd.to_numeric(df['D'])

In [30]:
df.dtypes

A         int64
Y         int64
Z         int64
KACSA    object
D         int64
dtype: object

In [31]:
df = pd.read_csv('data/DataSet_LakasP.csv')

In [36]:
df['created_at'] = pd.to_datetime(df['created_at'])

In [39]:
df.columns

Index(['county', 'city', 'postcode', 'property_type', 'property_subtype',
       'property_condition_type', 'property_floor', 'building_floor_count',
       'view_type', 'orientation', 'garden_access', 'heating_type',
       'elevator_type', 'room_cnt', 'small_room_cnt', 'created_at',
       'property_area', 'balcony_area', 'price_created_at', 'ad_view_cnt',
       'active_days', 'nr'],
      dtype='object')

In [53]:
df['sqrm_price'] = df.price_created_at / df.property_area

In [54]:
df_dist_2 = df[df.city == 'Budapest II.']

In [55]:
df_dist_2['sqrm_price'].mean()

0.5296916155520308

In [56]:
df_dist_2_panel = df_dist_2[df_dist_2.property_subtype == 'prefabricated panel flat (for sale)']

In [57]:
df_dist_2_panel['sqrm_price'].mean()

0.5018962413248127